{% extends 'index.html' %}
{% load static %}
{% block title %}
	О компании
{% endblock %}
{% block content %}
	<article class="d-flex flex-column gap-5 mt-5">
        <section class="about d-flex flex-column flex-lg-row gap-5 align-items-start">
            <div class="content">
                <h2 class="text-uppercase">О компании</h2>
                <p class="text-secondary mt-3" style="line-height: 200%">
                    Компания «Открытие» — это современное производство и интернет-магазин дверей и фурнитуры, где сочетаются надежность, качество и актуальный дизайн. Мы создаем входные и межкомнатные двери, которые не только защищают пространство, но и формируют стиль интерьера.
                    <br><br>Наша компания работает как с частными клиентами, так и с бизнесом. Нам доверяют владельцы квартир и домов, дизайнеры, а также строительные организации, которым важно стабильное качество и соблюдение сроков.
                </p>
            </div>
            <div class="img w-100">
                <img src="{% static 'img/about.png' %}" class="w-100" alt="">
            </div>
        </section>
        <section class="about d-flex flex-column flex-lg-row-reverse gap-5 align-items-start">
            <div class="content">
                <h2 class="text-uppercase">НАШЕ ПРОИЗВОДСТВО</h2>
                <p class="text-secondary mt-3" style="line-height: 200%">
                   Производство компании «Открытие» оснащено современным оборудованием, что позволяет нам контролировать каждый этап создания продукции — от выбора сырья до готового изделия. Мы используем проверенные материалы, включая металл, древесину и МДФ, а также современные технологии обработки и отделки.
                    <br><br>Каждая дверь проходит обязательный контроль качества, благодаря чему наши изделия отличаются прочностью, долговечностью и эстетичным внешним видом. Мы постоянно совершенствуем технологии, чтобы предлагать клиентам надежные и современные решения.
                </p>
            </div>
            <div class="img w-100">
                <img src="{% static 'img/about2.png' %}" class="w-100" alt="">
            </div>
        </section>
        <section class="about d-flex flex-column flex-lg-row gap-5 align-items-start">
            <div class="content">
                <h2 class="text-uppercase">Наша команда</h2>
                <p class="text-secondary mt-3" style="line-height: 200%">
                    За качеством нашей продукции стоит команда профессионалов: инженеры, дизайнеры, мастера производства, специалисты по продажам и IT-разработчики. Каждый из них вносит вклад в создание удобного сервиса и продукции, которая отвечает ожиданиям клиентов.
                    <br><br>Мы уверены, что сильная команда — это основа успешной компании, поэтому уделяем особое внимание развитию сотрудников и качеству работы на каждом этапе.
                </p>
            </div>
            <div class="img w-100">
                <img src="{% static 'img/about3.png' %}" class="w-100" alt="">
            </div>
        </section>
    </article>
{% endblock %}